.container {
  justify-content: center;
  padding-top: 4rem;
  padding-left: 4rem;
}
.formContainer {
  display: flex;
  flex-direction: column;
}
.content {
  width: 90vw;
  outline: none;
  resize: none;
  font-size: 2.5em;
  border: none;
}

.url {
  width: 90vw;
  height: 20vh;
  outline: none;
  resize: none;
  border: none;
  font-size: 0.875em;
}
