.container {
  padding: 7rem;
  width: 100%;
  overflow: scroll;
  align-items: center;
  font-family: Helvetica;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.title {
  text-align: center;
  font-size: xxx-large;
}
.date {
  color: grey;
  font-family: "Andale Mono";
  font-size: 0.6rem;
}
.btnArchive {
  display: flex;
  width: 7rem;
  height: 2rem;
  background-color: inherit;
  outline: none;
  font-family: inherit;
  font-size: medium;
  border: 0.1rem solid black;
  justify-content: center;
  align-items: center;
}

.btnArchive:active {
  background-color: #5c6370;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 620px) {
  .btnContainer {
    flex-direction: column;
  }
}
