.container {
  display: flex;
  width: 7rem;
  height: 2rem;
  background-color: inherit;
  outline: none;
  font-family: inherit;
  font-size: medium;
  border: 0.1rem solid red;
  color: red;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btnDelete {
  border: none;
  outline: none;
  background-color: inherit;
  color: red;
}
.container:active {
  background-color: #8c1717;
}
