.container {
  width: 100dvw;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.title {
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.content {
  width: 100%;
}
