.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 2rem;
}
.btnDelete {
  width: 7rem;
  height: 2rem;
  background-color: inherit;
  outline: none;
  font-family: inherit;
  font-size: medium;
  border: 0.1rem solid red;
  color: red;
  cursor: pointer;
}
.btnDraft {
  width: 7rem;
  height: 2rem;
  background-color: inherit;
  outline: none;
  font-family: inherit;
  font-size: medium;
  border: 0.1rem solid black;
  cursor: pointer;
}
.btnArchive {
  width: 7rem;
  height: 2rem;
  background-color: inherit;
  outline: none;
  font-family: inherit;
  font-size: medium;
  border: 0.1rem solid black;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
