.container {
  display: flex;
  width: 7rem;
  height: 2rem;
  background-color: inherit;
  outline: none;
  font-family: inherit;
  font-size: medium;
  border: 0.1rem solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container:active {
  background-color: #5c6370;
}
